#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
dbURL="mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats"
engine = create_engine(dbURL)

#### 4. Import the users table

In [4]:
query="SELECT * FROM users"
users = pd.read_sql(query, engine)

In [5]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [14]:
users.rename(columns={'Id':'userId'}, inplace=True)
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [7]:
query="SELECT * FROM posts"
posts = pd.read_sql(query, engine)

In [10]:
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,None,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,None,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,None,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,None,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,None,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [11]:
posts.rename(columns={'Id':'postId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [20]:
usersNew = users.loc[:,["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
# I think the OwnerUserID column is the userID asked for in the instructions above
postsNew = posts.loc[:,["Score", "OwnerUserId", "ViewCount", "CommentCount"]]

       Score  OwnerUserId  ViewCount  CommentCount
0         23          8.0     1278.0             1
1         22         24.0     8198.0             1
2         54         18.0     3613.0             4
3         13         23.0     5224.0             2
4         81         23.0        NaN             3
5        152          5.0    29229.0             5
6         76         38.0     5808.0             3
7          0         37.0      288.0             2
8         13         50.0        NaN             3
9         23         24.0    21925.0             4
10         2         34.0      224.0             2
11        20          5.0        NaN             1
12        14         23.0        NaN             4
13         5         36.0        NaN             1
14        13          6.0        NaN             0
15        16          8.0        NaN             3
16         9          NaN     1261.0             0
17        31         36.0        NaN             1
18        12         55.0        NaN             0
19         3         37.0        NaN             2
20         4         59.0      184.0             1
21       102         66.0    21916.0             1
22        10         69.0     7694.0             1
23        17         61.0        NaN             0
24         7         69.0     2095.0             4
25        18         75.0     3476.0            14
26         4         68.0        NaN             0
27         6          NaN        NaN             0
28         5         36.0        NaN             0
29         7         69.0      705.0             2
...      ...          ...        ...           ...
91946      0      42434.0        NaN             0
91947      0      55564.0       18.0             3
91948      0      55731.0        3.0             0
91949      1       7331.0        9.0             0
91950      0      55734.0       16.0             0
91951      0       7290.0        NaN             0
91952      2        805.0        NaN             0
91953      3      35413.0       49.0             0
91954      1      55733.0       15.0             0
91955      1      44142.0        NaN             0
91956      2       1569.0       15.0             0
91957      2      55738.0       40.0             4
91958      0      55383.0       12.0             1
91959      2       7071.0        NaN             0
91960      0       2676.0        NaN             0
91961      0      52858.0       11.0             3
91962     -1      28236.0        NaN             1
91963      1      55742.0       17.0             0
91964      1      41961.0       97.0             0
91965      4      24808.0        NaN             0
91966      4       6633.0        NaN             0
91967      1      55744.0       13.0             2
91968      0      35801.0       19.0             0
91969      0      48579.0        NaN             9
91970      0      48579.0        NaN             0
91971      2        805.0        NaN             2
91972      0      49365.0        9.0             0
91973      1      55746.0        5.0             2
91974      0        805.0        NaN             0
91975      0       7250.0        NaN             0

[91976 rows x 4 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [32]:
merged_data_frame = pd.merge(usersNew, postsNew, left_on='userId', right_on='OwnerUserId')
merged_data_frame.head(5000)

,userId,Reputation,Views,UpVotes,DownVotes,Score,OwnerUserId,ViewCount,CommentCount
0,-1,1,0,5007,1920,0,-1.0,NaN,0
1,-1,1,0,5007,1920,0,-1.0,NaN,0
2,-1,1,0,5007,1920,0,-1.0,NaN,0
3,-1,1,0,5007,1920,0,-1.0,NaN,0
4,-1,1,0,5007,1920,0,-1.0,NaN,0
5,-1,1,0,5007,1920,0,-1.0,NaN,0
6,-1,1,0,5007,1920,0,-1.0,NaN,0
7,-1,1,0,5007,1920,0,-1.0,NaN,0
8,-1,1,0,5007,1920,0,-1.0,NaN,0
9,-1,1,0,5007,1920,0,-1.0,NaN,0
10,-1,1,0,5007,1920,0,-1.0,NaN,0
11,-1,1,0,5007,1920,0,-1.0,NaN,0
12,-1,1,0,5007,1920,0,-1.0,NaN,0
13,-1,1,0,5007,1920,0,-1.0,NaN,0
14,-1,1,0,5007,1920,0,-1.0,NaN,0
15,-1,1,0,5007,1920,0,-1.0,NaN,0
16,-1,1,0,5007,1920,0,-1.0,NaN,0
17,-1,1,0,5007,1920,0,-1.0,NaN,0
18,-1,1,0,5007,1920,0,-1.0,NaN,0
19,-1,1,0,5007,1920,0,-1.0,NaN,0
20,-1,1,0,5007,1920,0,-1.0,NaN,0
21,-1,1,0,5007,1920,0,-1.0,NaN,0
22,-1,1,0,5007,1920,0,-1.0,NaN,0
23,-1,1,0,5007,1920,0,-1.0,NaN,0
24,-1,1,0,5007,1920,0,-1.0,NaN,0
25,-1,1,0,5007,1920,0,-1.0,NaN,0
26,-1,1,0,5007,1920,0,-1.0,NaN,0
27,-1,1,0,5007,1920,0,-1.0,NaN,0
28,-1,1,0,5007,1920,0,-1.0,NaN,0
29,-1,1,0,5007,1920,0,-1.0,NaN,0
...,...,...,...,...,...,...,...,...,...
4970,442,6431,973,857,21,1,442.0,NaN,2
4971,442,6431,973,857,21,2,442.0,NaN,2
4972,442,6431,973,857,21,2,442.0,NaN,1
4973,442,6431,973,857,21,3,442.0,NaN,0
4974,442,6431,973,857,21,1,442.0,NaN,2
4975,442,6431,973,857,21,2,442.0,NaN,0
4976,442,6431,973,857,21,1,442.0,NaN,8
4977,442,6431,973,857,21,1,442.0,NaN,4
4978,443,11,1,0,0,2,443.0,249.0,0
4979,445,152,10,32,0,12,445.0,1725.0,0
4980,445,152,10,32,0,11,445.0,1535.0,0
4981,445,152,10,32,0,6,445.0,4097.0,0
4982,446,118,8,12,0,3,446.0,506.0,2
4983,447,1422,173,20,0,83,447.0,NaN,7
4984,447,1422,173,20,0,9,447.0,NaN,0
4985,447,1422,173,20,0,8,447.0,NaN,1
4986,447,1422,173,20,0,15,447.0,NaN,0
4987,447,1422,173,20,0,4,447.0,NaN,1
4988,447,1422,173,20,0,3,447.0,NaN,0
4989,447,1422,173,20,0,7,447.0,NaN,2
4990,447,1422,173,20,0,9,447.0,NaN,2
4991,447,1422,173,20,0,3,447.0,NaN,2
4992,447,1422,173,20,0,11,447.0,NaN,1
4993,447,1422,173,20,0,7,447.0,NaN,1
4994,447,1422,173,20,0,3,447.0,NaN,1
4995,447,1422,173,20,0,3,447.0,NaN,0
4996,449,12813,1089,1607,57,3,449.0,NaN,1
4997,449,12813,1089,1607,57,10,449.0,NaN,5
4998,449,12813,1089,1607,57,11,449.0,NaN,0
4999,449,12813,1089,1607,57,8,449.0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [30]:
# https://stackoverflow.com/a/57389011/5420796
merged_data_frame.isnull().sum(axis = 0)

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
Score               0
OwnerUserId         0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [47]:
# I will clean them, because we don't know if they are actually 0
# https://stackoverflow.com/a/13434501/5420796

# merged_data_frame_dropped = merged_data_frame.fillna(subset=['ViewCount'], 0)

merged_data_frame['ViewCount'] = merged_data_frame['ViewCount'].fillna(value=0)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [50]:
print(merged_data_frame.dtypes)
merged_data_frame_fixed = merged_data_frame.astype({"OwnerUserId": int, "ViewCount": int})
print(merged_data_frame_fixed.dtypes)

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
Score             int64
OwnerUserId     float64
ViewCount       float64
CommentCount      int64
dtype: object
userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
Score           int64
OwnerUserId     int64
ViewCount       int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [54]:
stats = merged_data_frame_fixed.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.0,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.0,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.0,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.0,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.0,0.0,8.00,1920.0,8.00
Score,90584.0,2.780767,4.948922,-19.0,1.0,2.0,3.00,192.0,2.00
OwnerUserId,90584.0,16546.764727,15273.367108,-1.0,3437.0,11032.0,27700.00,55746.0,24263.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.0,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.0,1.0,3.00,45.0,3.00

In [57]:
outliers = pd.DataFrame(columns=merged_data_frame_fixed.columns)

In [63]:
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = merged_data_frame_fixed[(merged_data_frame_fixed[col] < lower) | 
                   (merged_data_frame_fixed[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    

outliers.head()

,CommentCount,DownVotes,Outlier,OwnerUserId,Reputation,Score,UpVotes,ViewCount,Views,userId
1155,0.0,126.0,Reputation,88.0,14082.0,25.0,4235.0,0.0,3320.0,88.0
1156,0.0,126.0,Reputation,88.0,14082.0,5.0,4235.0,0.0,3320.0,88.0
1157,1.0,126.0,Reputation,88.0,14082.0,7.0,4235.0,0.0,3320.0,88.0
1158,3.0,126.0,Reputation,88.0,14082.0,6.0,4235.0,0.0,3320.0,88.0
1159,0.0,126.0,Reputation,88.0,14082.0,7.0,4235.0,0.0,3320.0,88.0

In [64]:
# Save as CSV
outliers.to_csv('outliers.csv')